<div class="row border border-dark">

    <div class="col-12  my-auto">
        <h5> LISTADO DE PRODUCTOS</h5>
    </div>
</div>
<div class="row border-bottom border-dark">
    <div class="col-1  my-auto">
        <h5> ID </h5>
    </div>
    <div class="col-3 my-4 ">
        <h5> Imagen</h5>
    </div>
    <div class="col-5  my-auto">
        <h5> Nombre</h5>
    </div>
    <div class="col-2 my-auto">
        <h5> Precio</h65>
    </div>
</div>