<% if (products.length> 0) {
    products.forEach(function(products){ %>
    <div class="row border-bottom border-dark">
        <div class="col-1  my-auto">
            <h6>
                <%= products.id %>
            </h6>
        </div>
        <div class="col-3 my-4 ">
            <img class="img-products" width="30%" src=<%- products.thumbnail %> alt= <% products.title %> >
        </div>
        <div class="col-5  my-auto">
            <h6>
                <%= products.title %>
            </h6>
        </div>
        <div class="col-2 my-auto">
            <h6>$ <%= products.price %>
            </h6>
        </div>
    </div>
    <%})} else { %>
        <div class="row border-bottom border-dark">
            <div class="col-12  my-auto">
                <br>
                <br>
                <br>
                <h4>No hay products</h4>
                <br>
                <br>
                <br>
            </div>
        </div>
        <% } %>